<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>明天，你好</key>
	<string>http://mpge.5nd.com/2010/2010b/2011-07-18/48414/1.mp3</string>
	<key>白狐</key>
	<string>http://mpge.5nd.com/2015/2015-5-6/66943/14.mp3</string>
	<key>天使的翅膀</key>
	<string>http://mpge.5nd.com/2009/2009a/x/24352/1.mp3</string>
	<key>爱如潮水</key>
	<string>http://mpge.5nd.com/2008/z/13621/15.mp3</string>
	<key>老人与海</key>
	<string>http://mpge.5nd.com/2007/h/20075225298269/52989152.mp3</string>
	<key>美丽的神话</key>
	<string>http://mpge.5nd.com/2005/s/2005920/995/3304410.mp3</string>
</dict>
</plist>
